#titleInput {
  margin-bottom: 0px;
  margin-top: 20px;
}

#titleLabel {
	font-size: 24px;
	font-weight: 500;
	color: inherit;
}

#tinyMCE {
  margin-bottom: 15px;
}

#bar .container {
  max-width: 604px;
  margin-bottom: 0px;
  padding: 0px;
}

#bar .container .fa {
  padding: 3px 0px 0px 6px;
}

#editorRow {
  margin-left: 0px;
  margin-right: 0px;
}

@media (min-width: 20px) {
  #editor {
    height: 250px;
  }

}
@media (min-width: 500px) {
  #editor {
    height: 450px;
  }
}
@media (min-width: 1200px) {
  #editor {
    width: 606px;
    height: 750px;
  }
}

