.fa-fw {
	width: 2em;
}

@media ( min-width : 768px) {
	.navbar {
		margin-bottom: 50px;
	}
}

.entryList {
	margin-top: 3em;
}

kbd{
	padding:2px 4px;
	font-size:90%;
	color:#fff;
	background-color:#999;
	border-radius:3px;
	-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,.25);
	box-shadow:inset 0 -1px 0 rgba(0,0,0,.25)
}

.table  tbody  tr  td {
	padding: 4px 15px;
	vertical-align: middle;
}

.badge-light{
	background-color:#EEE;
	color:#777;
}

.badge-text-light{
	color:#777;
}

.panel-heading kbd, .panel-default .panel-heading .badge {
	background-color: #3071A9;
	background-color: #777;
}

/*
.nav-tabs li a {
	background-color: #F2F2EB;
	border: 1px solid #DDD;
	white-space: nowrap;
	cursor: pointer;
}
*/