<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='Hello'"></head>
<body>
	<div class="page-container">

		<!-- top navbar -->
		<div th:replace="layout :: top-navbar">(navbar)</div>

		<div class="container">
			<div class="row row-offcanvas row-offcanvas-left">

				<div th:replace="layout :: sidebar">(navbar)</div>

				<div class="col-xs-12 col-sm-9">
					<!-- content ############################################################################################################# -->


					<div class="col-md-12">

						<div class="row">
							<div class="col-xs-4 col-sm-2 col-md-1">
																
								<img th:unless="${entry.account.primaryProfile.imageUrl == null}"
									th:src="${entry.account.primaryProfile.imageUrl}"
									alt="" class="img-circle img-responsive profile"></img>
							</div>
							
							<div class="col-xs-4 col-md-4 pull-left" id="userNameProfil">
								<h4><span th:text="${currentUserProfile.name}">name</span></h4>
							</div>
							
							<div class="btn-toolbar col-md-3 col-md-offset-6 pull-right">
								<!--  <button th:href="@{/user/entry/edit(id=${entry.id})}" class="btn btn-primary btn-md col-md-5 col-xs-12 pull-right">Edit</button>-->
								
								<a
									class="btn btn-primary btn-md col-md-5 col-xs-5 pull-right"
									th:href="@{/user/entry/edit(id=${entry.id})}" role="button"><i class="fa fa-wrench"></i> Edit</a>
								<button type="submit"
										class="btn btn-danger btn-md pull-right">
										<i class="fa fa-times"></i> Delete
								</button>
							</div>
						</div>

						<div class="row">
							<div class="col-md-9">
								<h3 id="header1" th:text="${entry.name}">Title</h3>
							</div>
						</div>

						<div class="row" style="margin-bottom: 30px;">
							<div class="col-md-9">
								<span th:utext="${entry.entryDescription}">Description</span>
							</div>
						</div>
						
						<!-- 
						<div class="row" id="bar">
								<div class="col-md-9 col-sm-9">
									<i class="fa fa-search fa-2x"></i>

									<div class="form-group col-md-5 col-xs-7 pull-right">
										<label for="languageSpan" class="col-md-5" id="titleSpan">Language:</label>
										<div class="col-md-7" id="languageSpan">
											<span class="form-control pull-right">Java</span>
										</div>
									</div>
								</div>
						</div>
						-->

						<div class="row" id="editorRow">
							<div class="container-fluid col-md-9 col-sm-9 well" id="editor"></div>
							<div class="col-md-3 col-sm-3">
								<h4><small>Created <span style="color: black;" th:text="${beans.dateFormatter.format(entry.entryDate)}">Created just now</span></small></h4>
								<h4 th:unless="${entry.createdDate==entry.lastModifiedDate}"><small>Modified <span style="color: black;" th:text="${beans.dateFormatter.format(entry.lastModifiedDate)}">Modified just now</span></small></h4>
								<kbd>java</kbd>
							</div>
						</div>



					</div>


					<!-- content ############################################################################################################# -->
				</div>
			</div>
			<!--/.row-->
		</div>
		<!--/.container-->
	</div>
	<!--/.page-container-->
	<!-- script references -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/scripts.js}"></script>
	<script th:src="@{/webjars/ace/01.08.2014/src-min-noconflict/ace.js}"></script>
	<script th:src="@{/webjars/tinymce-jquery/4.0.16/tinymce.min.js}"></script>


	<script th:inline="javascript">
	/*<![CDATA[*/
		var editor = ace.edit("editor");
		 var modelAttributeValue = /*[[${entry.entryCodeText}]]*/ 'Code';
		editor.setTheme("ace/theme/eclipse");
		editor.setValue(modelAttributeValue); // or session.setValue
		editor.getValue(); // or session.getValue
		editor.getSession().setMode("ace/mode/java");
		editor.setFontSize("15px");
		editor.setOptions({
			readOnly: true,
			})
			editor.renderer.$cursorLayer.element.style.opacity=0;
		
		
		/*]]>*/
	</script>
</body>
</html>