<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='Hello'"></head>
<body>
	<div class="page-container">

		<!-- top navbar -->
		<div th:replace="layout :: top-navbar">(navbar)</div>

		<div class="container fuelux">
		<!--  <div class="loader" data-initialize="loader" id="myLoader"></div>-->
			<div class="row row-offcanvas row-offcanvas-left">

				<div th:replace="layout :: sidebar">(navbar)</div>

				<div class="col-xs-12 col-sm-9">
					<!-- content ############################################################################################################# -->

					<form role="form" th:action="@{/user/entry/save}" method="post"
						th:object="${entryDataObject}">
						<div class="col-md-12" id="entryEditContainerResponsive" style="padding: 0px;">

							<div class="row">
								<div class="col-xs-3 col-sm-2 col-md-1">
									<a th:if="${entry == null}" th:href="@{/user/profile/details(id=${currentUserProfile.id})}">
									<img 
										th:src="${currentUserProfile.imageUrl}"										
										class="img-rounded" style="width: 50px"></img></a>
									<a th:unless="${entry == null}" th:href="@{/user/profile/details(id=${entry.account.primaryProfile.id})}">	 
									<img 
										th:src="${currentUserProfile.imageUrl}"										
										class="img-rounded" style="width: 50px"></img></a>
								</div>
								<div class="col-xs-4 col-md-4 pull-left" id="userNameProfil" style="margin-top: 15px; padding-left: 8px;">
									<h4><a th:href="@{/user/profile/details(id=${currentUserProfile.id})}"><span th:text="${currentUserProfile.name}">name</span></a></h4>
								</div>
								<div class="btn-toolbar col-md-3 col-md-offset-6 pull-right col-xs-12">
									<button type="submit" id="entryEditSaveButton"
										class="btn btn-primary btn-md col-md-5 col-xs-12 pull-right">
										<i class="fa fa-floppy-o"></i> Save
									</button>

									<!--
									<button
										class="btn btn-default btn-md col-md-5 col-xs-5 pull-right">Cancel</button>
										
										  -->

									<a th:if="${entryDataObject.id}"
										class="btn btn-default btn-md pull-right col-md-6 col-xs-12"
										th:href="@{/entry/details(id=${entryDataObject.id})}"
										role="button"><i class="fa fa-times"></i> Cancel</a> <a
										th:unless="${entryDataObject.id}"
										class="btn btn-default btn-md pull-right col-md-6 col-xs-12"
										th:href="@{/entries/user(id=${currentUserProfile.account.id})}"
										role="button"><i class="fa fa-times"></i> Cancel</a>
								</div>
							</div>


							<div class="row">
								<div class="col-md-9" style="margin-top: 40px;">
									<div th:replace="layout :: validationerror">
										validation errors</div>
								</div>

								<div class="form-group col-md-9" id="titleInput">
									<label for="title" id="titleLabel">Title</label> <input
										th:field="*{title}" id="title"
										class="form-control input-lg col-md-12 col-sm-12 col-xs-12" type="text"
										placeholder="Enter your title"></input> <input
										th:field="*{id}" id="id" class="hidden" type="text"></input>
										<input th:field="*{editMode}" id="id" class="hidden" type="text"></input>
								</div>
							</div>

							<div class="row">
								<div th:if="*{editMode}=='MASTER'" class="form-group col-md-9" id="teaserInput">
									<h4 id="header2">Teaser</h4>
									<textarea th:field="*{teaser}" id="title" class="form-control col-md-12 col-sm-12 col-xs-12" placeholder="Enter your teaser" style="resize: none;"></textarea>
								</div>
							</div>

							<div  class="row">
							
							<div th:unless="*{editMode}=='MASTER'" class="form-group col-md-9" id="changesInput">
									<h4 id="header2">Changes</h4> <textarea
										th:field="*{changes}" id="changes" class="form-control col-md-12 col-sm-12 col-xs-12" 
										placeholder="Enter your changes" style="resize: none;"></textarea>

								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-9" id="tagInput">
									<h4 id="header2">Tags</h4>
									<div id="my-tag-list" class="tag-list"></div>
								</div>
							</div>


							<div class="row">
								<div class="col-md-9" id="tinyMCE">
									<h4 id="header2">Description</h4>
									<input th:field="*{description}" id="tinyEditor"></input>
								</div>
							</div>

							<div class="hidden">
								<input th:field="*{tagString}" id="tagString"></input>
							</div>




							<div class="row" id="bar">
								<div class="col-md-9" id = "NewGroupCombobox">
									<!--  Combobox NEW  -->
								 	<select th:field="*{group}" class="col-md-12" style="padding:0px;" id="e2">
								 	<option value=""></option>
								 	<option th:each="groupelem : ${groups}" th:attr="value=${groupelem.id}" th:text="${groupelem.name}">lang</option>
										
									</select>
								</div>
							</div>

							<div class="row" id="bar">
								<div class="col-md-9" id = "NewCombobox">
									<!--  Combobox NEW  -->
								 	<select th:field="*{language}" class="col-md-12" style="padding:0px;" id="e1">
								 	<option th:each="lang : ${languages}" th:attr="value=${lang.mode}" th:text="${lang.displayName}">lang</option>
										
									</select>
								</div>
							</div>

							<textarea class="hidden" th:field="*{code}" name="acearea"
								id="acearea"></textarea>
							<div class="row" id="editorRow">
								<div class="container-fluid col-md-9 col-sm-9 well" id="editor"></div>
								<div class="btn-toolbar col-md-3 col-md-offset-6 pull-right pull-down hidden-xs hidden-sm visible-md visible-lg" style="padding-right: 0px;">
									<button type="submit"
										class="btn btn-primary btn-md col-md-5 col-xs-5 pull-right">
										<i class="fa fa-floppy-o"></i> Save
									</button>
									<a th:if="${entryDataObject.id}"
										class="btn btn-default btn-md pull-right col-md-6"
										th:href="@{/entry/details(id=${entryDataObject.id})}"
										role="button"><i class="fa fa-times"></i> Cancel</a> <a
										th:unless="${entryDataObject.id}"
										class="btn btn-default btn-md pull-right col-md-6"
										th:href="@{/entries/user(id=${currentUserProfile.account.id})}"
										role="button"><i class="fa fa-times"></i> Cancel</a>
								</div>
								<div class="btn-toolbar col-md-3 col-md-offset-6 col-xs-12 pull-right visible-xs visible-sm hidden-md hidden-lg" style="padding: 0px; margin-bottom: 30px;">
									<button type="submit" style="margin-top: 0px; margin-bottom: 5px;"
										class="btn btn-primary btn-md col-md-5 col-xs-12 pull-right">
										<i class="fa fa-floppy-o"></i> Save
									</button>
									<a th:if="${entryDataObject.id}"
										class="btn btn-default btn-md pull-right col-md-6 col-xs-12"
										th:href="@{/entry/details(id=${entryDataObject.id})}"
										role="button"><i class="fa fa-times"></i> Cancel</a> <a
										th:unless="${entryDataObject.id}"
										class="btn btn-default btn-md pull-right col-md-6 col-xs-12"
										th:href="@{/entries/user(id=${currentUserProfile.account.id})}"
										role="button"><i class="fa fa-times"></i> Cancel</a>
								</div>
							</div>

						</div>

					</form>
					<!-- content ############################################################################################################# -->
				</div>
			</div>
			<!--/.row-->
		</div>
		<!--/.container-->
		<div th:replace="layout :: page_footer">(footer)</div>
	</div>
	<!--/.page-container-->
	<!-- script references -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/scripts.js}"></script>
	<script th:src="@{/webjars/fuelux/3.0.2/js/fuelux.min.js}"></script>
	<script th:src="@{/webjars/tinymce-jquery/4.0.16/tinymce.min.js}"></script>
	<script th:src="@{/webjars/ace/01.08.2014/src-min-noconflict/ace.js}"></script>
	<script th:src="@{/select2-3.5.2/select2.js}"></script>
	<script th:src="@{/js/bootstrap-tags.min.js}"></script>
	<script th:src="@{/js/diff_match_patch.js}"></script>

	<script>
		$('.pull-down').each(
			function() {
				$(this).css('margin-top', $(this).parent().height() - $(this).height()-21)
			});
	</script>

	<script>
		tinymce.init({
			mode : "exact",
			elements : "tinyEditor",
			toolbar: "undo redo | styleselect | bold italic | link image",
			menubar: false
		});
	</script>
	
	<!-- Javascript Combobox -->
	<script th:inline="javascript">
		/*<![CDATA[*/
		           
		           $(document).ready(function() {
		        	   $("#e2").select2({
		        		   placeholder: "Select a Group",
		        		   allowClear: true
		        		   });
		        	   
		        	   
		        	   $("#e1").select2(); 
		        	   var mode = "ace/mode/"+$("#e1").select2("val");
						editor.getSession().setMode(mode);
		        	   });
		
		           $("#e1").on("change", function(e) { 
		           			var mode = "ace/mode/"+$("#e1").select2("val");
							editor.getSession().setMode(mode);
		           })
		           
			/*]]>*/
	</script>

	<script th:inline="javascript">
		/*<![CDATA[*/
		           
		function addTag(tag){
			var tags = document.getElementById("tagString").value;
			tags = tags+"["+tag+"]";
			document.getElementById("tagString").value = tags;
		} 
		
		function removeTag(tag){
			var tags = document.getElementById("tagString").value;
			tags = tags.replace("["+tag+"]",'');
			document.getElementById("tagString").value = tags;
		}  

		$(function() {
			// If using Bootstrap 2, be sure to include:
			// Tags.bootstrapVersion = "2";
			
			var tags = /*[[${tags}]]*/'tags';
			var entryTags = /*[[${entryDataObject.getTags()}]]*/'entrytags';
			
			$('#my-tag-list').tags({
				tagData : entryTags,
				suggestions : tags,
				excludeList : [ "not", "these", "words" ],
				beforeAddingTag: function(tag){ addTag(tag) },
				afterDeletingTag: function(tag){ removeTag(tag) }
			});
		});

		/*]]>*/
	</script>

	<script th:inline="javascript">
		/*<![CDATA[*/
		var editor = ace.edit("editor");
		var textarea = $('textarea[name="acearea"]').hide();
		var modelAttributeValue = /*[[${entryDataObject.code}]]*/'Code';
		editor.setTheme("ace/theme/github");
		editor.setValue(modelAttributeValue); // or session.setValue
		editor.getValue(); // or session.getValue
		editor.getSession().setMode("ace/mode/html");
		editor.setFontSize("12px");
		
 		editor.getSession().on('change', function() {
			document.getElementById("acearea").value = editor.getValue();
		}); 
		/*]]>*/
	</script>
</body>
</html>