<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='Hello'"></head>
<body>

	<div class="page-container">

		<!-- top navbar -->
		<div th:replace="layout :: top-navbar">(navbar)</div>

		<div class="container">
		
			<div class="row row-offcanvas row-offcanvas-left">

				<div th:replace="layout :: sidebar">(navbar)</div>

				<div class="col-xs-12 col-sm-10">
					<!-- content ############################################################################################################# -->


					<div class="col-md-12">

						<div class="row">
							<div class="col-xs-4 col-sm-2 col-md-1">
								<a th:unless="${entry.account.primaryProfile.imageUrl == null}" th:href="@{/user/profile/details(id=${entry.account.primaryProfile.id})}">								
								<img 
									th:src="${entry.account.primaryProfile.imageUrl}"
									alt="" class="img-rounded img-responsive"></img></a>
							</div>
							
							<div class="col-xs-4 col-md-5 pull-left" id="userNameProfil">
								<h4><a th:href="@{/user/profile/details(id=${entry.account.primaryProfile.id})}"> <span  th:text="${entry.account.primaryProfile.name}">name</span></a><span> / </span><strong><a th:href="@{/entry/details(id=${entry.id})}"> <span  th:text="${entry.name}">name</span></a></strong></h4>
								<h4><small th:text="${beans.dateFormatter.format(entry.createdDate)}">created just now</small></h4>
							</div>
							
							<div class="btn-toolbar col-md-4 col-md-offset-6 pull-right">
								<!--  <button th:href="@{/user/entry/edit(id=${entry.id})}" class="btn btn-primary btn-md col-md-5 col-xs-12 pull-right">Edit</button>-->
								
								<a
										class="btn btn-default btn-md pull-right" th:unless="${entry.account.primaryProfile.id == currentUserProfile.id}" th:href="@{/user/entry/propose(id=${entry.id})}">
										<i class="fa fa-code-fork"></i> New version</a>
								<a
									class="btn btn-default btn-md pull-right" th:if="${entry.account.primaryProfile.id == currentUserProfile.id}"
									th:href="@{/user/entry/edit(id=${entry.id})}" role="button"><i class="fa fa-wrench"></i> Edit</a>
								<a
										class="btn btn-default btn-md pull-right" th:if="${entry.account.primaryProfile.id == currentUserProfile.id}" th:href="@{/user/entry/remove(id=${entry.id})}">
										<i class="fa fa-trash"></i> Delete
								</a>
							</div>
						</div>

						<div class="row">
							<div id="versiontabs" class="tabpanel col-md-12"
								style="margin-top: 50px;">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active"><a href="#entry" aria-controls="entry" role="tab" data-toggle="tab">Entry</a></li>
									<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
									<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
									<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
								</ul>

								<!-- Tab panes -->
								<div class="tab-content" style="margin-top:20px;">
								
									<!-- start tab content for entry -->
									<div role="tabpanel" class="tab-pane fade in active" id="entry">
															<div class="col-md-10" id="entry-content">



							<div class="row">
							
							
								<!-- versions panel -->
							
								<div class="panel panel-default" id="version-panel" th:attr="data-versionindex=0, data-entrytype=${entry.orderedVersions.get(0).class.simpleName}">
									<div class="panel-heading" style="padding-top: 4px; padding-bottom:4px">
										<a id="version-userimage-link" style="vertical-align: middle;"
											th:unless="${entry.orderedVersions.get(0).account.primaryProfile.imageUrl == null}"
											th:href="@{/user/profile/details(id=${entry.orderedVersions.get(0).account.primaryProfile.id})}">
											<img id="version-userimage" th:src="${entry.orderedVersions.get(0).account.primaryProfile.imageUrl}" alt=""
											class="img-rounded" style="height: 23px; margin-top:4px"></img>
										</a>
											<a id="version-user-link" style="padding-top:4px; vertical-align: middle; color: black; font-size: 16px;" th:text="${entry.orderedVersions.get(0).account.primaryProfile.name}" th:href="@{/user/profile/details(id=${entry.orderedVersions.get(0).account.primaryProfile.id})}">user </a>
											<span style="padding-top:4px; vertical-align: middle;">created </span>
											<span id="version-createdate" style="padding-top:4px; vertical-align: middle;" th:text="${beans.dateFormatter.format(entry.orderedVersions.get(0).createdDate)}">created just now</span>
											



										<div class="btn-toolbar pull-right" role="toolbar"
											aria-label="...">
											<div class="btn-group" role="group" aria-label="...">
												<button id="next-version" type="button" class="btn btn-link btn-sm">
													<span class="glyphicon glyphicon-chevron-left"
														aria-hidden="true"></span>
												</button>
												<button id="prev-version" type="button" class="btn btn-link btn-sm">
													<span class="glyphicon glyphicon-chevron-right"
														aria-hidden="true"></span>
												</button>
											</div>
										</div>
										<span class="clearfix"></span>

									</div>
									<div id="version-changes" class="panel-body">
										<span th:text="${entry.orderedVersions.get(0).changes}">First Version of the snippet</span>
									</div>
								</div>
							<!-- end versions panel -->

							</div>


							<div class="row">
								<div class="panel panel-default " id="description-panel">
									<div class="panel-heading">Description</div>
									<div class="panel-body" style="padding:30px;">
										<span
											th:utext="${entry.orderedVersions.get(0).entryDescription}"
											id="description">Description</span>

									</div>
								</div>
							</div>

							<!-- 
						<div class="row" id="bar">
								<div class="col-md-10 col-sm-10">
									<i class="fa fa-search fa-2x"></i>

									<div class="form-group col-md-5 col-xs-7 pull-right">
										<label for="languageSpan" class="col-md-5" id="titleSpan">Language:</label>
										<div class="col-md-7" id="languageSpan">
											<span class="form-control pull-right">Java</span>
										</div>
									</div>
								</div>
						</div>
						-->
							<div class="row">
								<div class="panel panel-default" id="editor-panel">
									<div class="panel-heading">
										your code
										<kbd class="pull-right" th:text="${entry.language}">java</kbd>
									</div>
									<div class="panel-body" id="editor">Panel content</div>
								</div>
							</div>
							</div>


							<!-- 		<div class="container-fluid col-md-9 col-sm-9 well" id="editor"></div> -->
							<div class="col-md-2 col-sm-2" id="right-sidebar">
								<h4>
									<small>Created <span style="color: black;"
										th:text="${beans.dateFormatter.format(entry.createdDate)}">Created
											just now</span></small>
								</h4>
								<h4 th:unless="${entry.createdDate==entry.lastModifiedDate}">
									<small>Modified <span style="color: black;"
										th:text="${beans.dateFormatter.format(entry.lastModifiedDate)}">Modified
											just now</span></small>
								</h4>
								<!--<kbd th:text="${entry.language}">java</kbd>  -->
							</div>
									
									
									</div>
									<!-- end tab content for entry -->
									<div role="tabpanel" class="tab-pane fade" id="profile">...</div>
									<div role="tabpanel" class="tab-pane fade" id="messages">...</div>
									<div role="tabpanel" class="tab-pane fade" id="settings">...</div>
								</div>
							</div>
						</div>
						<!-- end tabs -->
					</div>


						<!-- content ############################################################################################################# -->
				</div>
			</div>
			<!--/.row-->
		</div>
		<!--/.container-->
	</div>
	<!--/.page-container-->
	<!-- script references -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/scripts.js}"></script>
			<script th:src="@{/webjars/fuelux/3.0.2/js/fuelux.min.js}"></script>
	<script th:src="@{/webjars/ace/01.08.2014/src-min-noconflict/ace.js}"></script>
	<script th:src="@{/webjars/tinymce-jquery/4.0.16/tinymce.min.js}"></script>


	<script th:inline="javascript">
	/*<![CDATA[*/


		var editor = ace.edit("editor");
		var modelAttributeValue = /*[[${entry.orderedVersions.get(0).entryCodeText}]]*/'Code';
		var language = /*[[${entry.language}]]*/'language';
/*		editor.setTheme("ace/theme/wefactor");*/
		editor.setValue(modelAttributeValue); // or session.setValue
		editor.getValue(); // or session.getValue
		editor.setValue(editor.getValue(), 1);
		editor.getSession().setMode("ace/mode/" + language);
		editor.setTheme("ace/theme/github");
		editor.setFontSize("13px");
		editor.setOptions({
			readOnly : true,
			highlightActiveLine : false
		})
		editor.renderer.$cursorLayer.element.style.opacity = 0;

		/*]]>*/
	</script>	
	
	<!-- TODO: attr von id zu index umbenennen. attr nicht in button speichern sondern in übergeordnettes element. index verändern -->

	<script th:inline="javascript">
		/*<![CDATA[*/
		           
	function updateVersion(prev) {
		var versionsize = /*[[${entry.orderedVersions.size()}]]*/'size';
		var ids = /*[[${entry.orderedVersionIds}]]*/'ids';
		var types = /*[[${entry.orderedVersionTypes}]]*/'types';
		var currentIndex = $("div[id*=version-panel]").attr("data-versionindex");
		
		var nextIndex;
		
		if(prev){
			if(parseInt(currentIndex) + 1 > versionsize-1){
				nextIndex = parseInt(currentIndex);
				
			}else{
				nextIndex = parseInt(currentIndex)+1;
			}
			
		}else{
			if(parseInt(currentIndex) - 1 < 0){
				nextIndex = parseInt(currentIndex);
				
			}else{
				nextIndex = parseInt(currentIndex)-1;
			}
		}
		
		var currentId = ids[nextIndex];
		var nextType = types[nextIndex];
		var server_url  = /*[[@{~/entryajax/}]]*/'url';
		var relative_url = nextType +"/" + currentId;
		var url = server_url + relative_url;
		
		 $.ajax({
		        url: url
		    }).then(function(data) {
		   			$("#entry-content").fadeOut('fast'); 
		   			$("#right-sidebar").fadeOut('fast');  
		   			$("#description").html(data.entryDescription); 
		   			$("#version-changes").html(data.changes);
		   			var editor = ace.edit("editor");
		   			editor.setValue(data.entryCodeText);
		   			editor.setValue(editor.getValue(), 1);
		   			$("#right-sidebar").fadeIn('fast');
		   			$("#entry-content").fadeIn('fast');
		   			$("div[id*=version-panel]").attr("data-versionindex",nextIndex);
		   			$("div[id*=version-panel]").attr("data-entrytype",data.type);
		   			$('#version-userimage-link').attr('href','/');/*todo*/
		   			$('#version-user-link').attr('href','/');/*todo*/
		   			$('#version-createdate').html('just now');/*todo*/
		   			$('#version-userimage').attr('src',data.account.primaryProfile.imageUrl);/*geht nicht. evtl load image function*/
		   			
		   			
		   			
		   			
		   			
		    });
}
		           
		           
		$(document).ready(function () {
			$("button[id*=next-version]").click(function () {
				updateVersion(false);
				
			});
		});
		
		$(document).ready(function () {
			$("button[id*=prev-version]").click(function () {
				updateVersion(true);
				
			});
		});
		
		
		
		
		/*]]>*/
	</script>


</body>
</html>