<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='Hello'">

</head>
<body>
	<div class="page-container">

		<!-- top navbar -->
		<div th:replace="layout :: top-navbar">(navbar)</div>

		<div class="container fuelux">
			<div class="row row-offcanvas row-offcanvas-left">

				<div th:replace="layout :: sidebar">(navbar)</div>

				<div class="col-xs-12 col-sm-10">
					<!-- content ############################################################################################################# -->

					<div class="row col-md-12">
						<div class="tabbable">
							<div class="container-fluid col-md-12" id="profilContainer">
								<div class="col-xs-12 col-sm-3 text-center-responsive" id="profilPicture" style="width: 200px; padding-right: 20px;">
									<img src="http://cdn.flaticon.com/png/256/32441.png" alt="" class="img-thumbnail img-responsive profile"></img>

								</div>
								<div class="text-center-responsive col-xs-12 col-sm-6" id="profilName">
									<h2 class="profile">
										<span th:text="${group.name}">name</span><span><br></br> <small><span th:text="${group.description}">description</span></small></span>
									</h2>

								</div>
								<div class="row text-center-responsive col-md-12" id="profilDetailsRow">
									<ul class="nav nav-pills" id="profilDetailsNav" role="tablist">
										<li role="presentation" class="active"><a data-toggle="tab" href="#news">News</a></li>
										<li role="presentation"><a data-toggle="tab" href="#entries">Entries</a></li>
										<li role="presentation"><a data-toggle="tab" href="#members">Members</a></li>
									</ul>
								</div>
							</div>
							<!--  
							<div class="col-md-12" id="news" style="margin-bottom: 30px; padding: 0px;">
								<div th:each="event : ${events}">
									<div th:replace="timelineEntry :: timelineEntry (${event})"></div>

								</div>
							</div>
							
							-->
							<div class="tab-content col-md-12" style="margin-top: 50px; padding: 0px;">
								<div role="tabpanel" class="tab-pane fade in active" id="news">
									<div id="wrap">
										<div th:each="event : ${events}">
											<div th:replace="timelineEntry :: timelineEntry (${event})"></div>

										</div>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane fade" id="entries">
									<div th:replace="entries :: entryList(${entries})">(navbar)</div>
								</div>
								<div role="tabpanel" class="tab-pane fade" id="members">
									<div th:each="member : ${group.members}">
										<div class="col-md-2">
											<a th:href="@{/user/profile/details(id=${member.primaryProfile.id})}"> 
											<img th:src="${member.primaryProfile.imageUrl}" alt="" class="img-rounded img-responsive"></img>
											<span th:text="${beans.stringUtil.getCutString(member.primaryProfile.name,15)}">user</span>
											</a>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- content ############################################################################################################# -->
				</div>
			</div>
			<!--/.row-->
		</div>
		<!--/.container-->
	</div>

	<!--/.page-container-->
	<!-- script references -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
	<script th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/scripts.js}"></script>
	<script th:src="@{/webjars/fuelux/3.0.2/js/fuelux.min.js}"></script>
	<script th:src="@{/js/infinite-scroll.js}"></script>
	<script th:src="@{jscroll-master/jquery.jscroll.min.js}"></script>
	<script th:src="@{/js/star-rating.js}"></script>

	<script th:inline="javascript">
		/*<![CDATA[*/
	
			var currentRequest = false;
			var currentPage = "1";
	
		function scrollHandler(){
				
				if(currentRequest == true){
					return
				}
				if($(window).scrollTop() + $(window).height() >= $(document).height() - 1){
				currentRequest = true;
				$('#wrap').append($('<div class="loader" data-initialize="loader" id="myLoader" style="font-size:30px; height: 30px; width: 30px; margin: auto;"></div>').hide());
					$('#myLoader').loader('reset');
					$('#myLoader').fadeIn(500, function(){
						
						var id  = /*[[${group.Id}]]*/'id';
						
						currentPage++;
						var url = '/timelineAjax/group/' + parseInt(currentPage)+'?id='+id;
					
				$.ajax({
			       		url: url,
			       		success: function (data) {
			    				currentRequest = false;
			    			// Ajax call to get more dynamic data goes here
			    			
			    			$('#myLoader').loader('destroy');
			    			$('#wrap').append($(data).hide().fadeIn(2000, function(){
			    				}));
			    			$(window).scrollTop($(window).scrollTop()-20);
			    			
			    			
			    		},
			    		
			    		error: function (xhr, ajaxOptions, thrownError) {
			    			$('#myLoader').loader('destroy');
			    			$('#wrap').append('<center><div class="alert alert-info" role="alert">no data left</div></center>');
			    	      }
			    		
			    		
			    		
			    		});
				});
				
				}
				
				
		}
		window.onscroll = scrollHandler;
		/*]]>*/
		</script>


</body>
</html>