<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:fragment="htmlhead">
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<meta name="description" content=""></meta>
<meta name="author" content=""></meta>
<link rel="shortcut icon" type="image/png"
	th:href="@{/images/favicon.png}"></link>
<title th:text="#{page.title}">(title)</title>


<link th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.css}"
	rel="stylesheet"></link>
<link th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<link th:href="@{/webjars/fuelux/3.0.2/css/fuelux.min.css}"
	rel="stylesheet"></link>


<!--	 

	<link th:href="@{/css/bootstrap.css}"
	rel="stylesheet"></link>
<link th:href="@{/css/bootstrap.min.css}"
	rel="stylesheet"></link>
 	-->

<link th:href="@{/webjars/font-awesome/4.2.0/css/font-awesome.min.css}"
	rel="stylesheet"></link>
<link th:href="@{/webjars/font-awesome/4.2.0/css/font-awesome.css}"
	rel="stylesheet"></link>
<link th:href="@{/css/starter.css}" rel="stylesheet"></link>
<link th:href="@{/css/login.css}" rel="stylesheet"></link>
<link th:href="@{/css/styles.css}" rel="stylesheet"></link>
<link th:href="@{/css/profile.css}" rel="stylesheet"></link>
<link th:href="@{/css/factor.css}" rel="stylesheet"></link>
<link th:href="@{/css/custom-ace.css}" rel="stylesheet"></link>
<link th:href="@{/css/star-rating.css}" rel="stylesheet"></link>
<link th:href="@{/css/responsive.css}" rel="stylesheet"></link>

<link th:href="@{/select2-3.5.2/select2.css}" rel="stylesheet"></link>

</head>
<body>
	<div class="page-container">

		<!-- top navbar -->
		<div th:fragment="top-navbar">
		<div class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">

					<button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
					<button type="button" class="navbar-toggle collapsed" id="navbar-responsive" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<i class="fa fa-user fa-fw"></i> <span class="sr-only">Toggle navigation</span>
					</button>


					<!--  wieder aktivieren wenn suchfunktion implementiert wird -->
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
						<span class="sr-only">Toggle navigation</span><i class="fa fa-search fa-fw"></i>
					</button>


					<a class="navbar-brand" href="/"><strong>we</strong>Factor</a>
				</div>

				<!-- evtl mit float:left arbeiten -->
				<!--  wieder aktivieren wenn suchfunktion implementiert wird -->



				<!--  
				<ul class="nav navbar-nav">
					<li class="divider-vertical"></li>
				</ul>
				-->





				<!--  
				<ul class="nav navbar-nav">
					<li class="divider-vertical"></li>
				</ul>
				-->

				<!-- Collect the nav links, forms, and other content for toggling -->


				<ul class="collapse navbar-collapse nav navbar-nav navbar-right" id="bs-example-navbar-collapse-1">

					<li th:if="${currentUserDisplayName == null}"><a href="/signup">create new account</a></li>

					<li th:if="${currentUserDisplayName == null}"><a href="/signin"><i class="fa fa-sign-in fa-fw"></i>log in</a></li>
					<li th:unless="${currentUserDisplayName == null}" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img style="height: 20px; float: left; margin-right: 5px;" th:unless="${currentUserProfile.imageUrl == null}" th:src="${currentUserProfile.imageUrl}" alt="" class="img-rounded img-responsive"></img> <span th:text="${currentUserDisplayName}">Bob</span> <span class="caret"></span></a>

						<ul class="dropdown-menu" role="menu">
							<li><a th:href="@{/user/profile/details(id=${currentUserProfile.id})}"><i class="fa fa-user fa-fw"></i>Profile</a></li>
							<!--<li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>  -->
							<li class="divider"></li>
							<li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i>Logout</a></li>
						</ul></li>
				</ul>



				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

					<!-- 
					<form class="navbar-form navbar-right" role="search">
						<div class="input-group">
						<input type="text" class="form-control input-sm nav-search" style="width:300px; border-radius:3px;" placeholder="Search…"></input>
							<span class="input-group-btn">
								<button class="btn btn-default btn-sm" type="button">search</button>
							</span> 
						</div>
					</form>
				-->
					<form class="navbar-form" th:action="@{/search/entries}" method="post"
						th:object="${searchBoxDataObject}">
						<div class="form-group" style="display: inline;">
							<div class="input-group">
								<input th:field="*{searchtext}" class="form-control input-sm nav-search" type="text"></input> <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
							</div>
						</div>
					</form>
				</div>


				<!-- /.navbar-collapse -->




			</div>
		</div>
			<div th:if="${screenMessage}" style="background-color: rgba(0, 0, 0, 0.01); border-bottom: 1px solid rgba(0, 0, 0, 0.05); padding: 15px 0px">
				<div class="container" th:utext="${screenMessage.html}">
					<h4>
						We've found 31,355 results for <strong>hello world</strong>
					</h4>
				</div>

			</div>
			
			<div style="margin-bottom:50px"></div>
			</div>

		<div class="container">
			<div class="row row-offcanvas row-offcanvas-left">

				<!-- sidebar -->
				<div th:fragment="sidebar" class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
					<a sec:authorize="hasRole('USER')" th:href="@{/user/entry/add}" class="btn btn-primary btn-md" role="button"><i class="fa fa-plus"></i> New entry</a>
					<ul class="nav">
						<li><a href="/entries/all">Explore</a></li>
						<li sec:authorize="hasRole('USER')" class="active"><a th:href="@{/entries/user(id=${currentUserProfile.account.id})}">My Entries</a></li>
						<li><a href="/user/timeline">Timeline</a></li>
					</ul>
					<ul class="nav">
						<li><h4 style="margin-top: 40px; font-size: 14px;">
								<a class="grouplink" href="/user/groupbrowser" style="text-decoration: none; color: #777;">Groups <i class="fa fa-cog"></i>
								</a>
							</h4></li>
						<li th:each="group : ${groups}"><a th:text="${group.name}" th:href="@{/user/group(id=${group.id})}">Group Ex.1</a></li>
					</ul>
				</div>

				<!-- main area -->
				<div class="col-xs-12 col-sm-12">
					<h1>Shrink Width to Collapse Sidebar</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Phasellus in nisi eu arcu tempus vehicula. Nulla faucibus cursus
						metus in sagittis. Nunc elit leo, imperdiet in ligula in, euismod
						varius est. Aenean pellentesque lorem a porttitor placerat.
						Vestibulum placerat nunc ac rutrum fringilla. Donec arcu leo,
						tempus adipiscing volutpat id, congue in purus. Pellentesque
						scelerisque mattis nibh vel semper. Sed a risus purus. Fusce
						pulvinar, velit eget rhoncus facilisis, enim elit vulputate nisl,
						a euismod diam metus eu enim. Nullam congue justo vitae justo
						accumsan, sit amet malesuada nulla sagittis. Nam neque tellus,
						tristique in est vel, sagittis congue turpis. Aliquam nulla lacus,
						laoreet dapibus odio vitae, posuere volutpat magna. Nam pulvinar
						lacus in sapien feugiat, sit amet vestibulum enim eleifend.
						Integer sit amet ante auctor, lacinia sem quis, consectetur nulla.</p>

					<p>Vestibulum porttitor massa eget pellentesque eleifend.
						Suspendisse tempor, nisi eu placerat auctor, est erat tempus
						neque, pellentesque venenatis eros lorem vel quam. Nulla luctus
						malesuada porttitor. Fusce risus mi, luctus scelerisque hendrerit
						feugiat, volutpat gravida nisi. Quisque facilisis risus in lacus
						sagittis malesuada. Suspendisse non purus diam. Nunc commodo felis
						sit amet tortor adipiscing varius. Fusce commodo nulla quis
						fermentum hendrerit. Donec vulputate, tellus sed venenatis
						sodales, purus nibh ullamcorper quam, sit amet tristique justo
						velit molestie lorem.</p>

					<p>Fusce sollicitudin lacus lacinia mi tincidunt ullamcorper.
						Aenean velit ipsum, vestibulum nec tincidunt eu, lobortis vitae
						erat. Nullam ultricies fringilla ultricies. Sed euismod nibh quis
						tincidunt dapibus. Nulla quam velit, porta sit amet felis eu,
						auctor fringilla elit. Donec convallis tincidunt nibh, quis
						pellentesque sapien condimentum a. Phasellus purus dui, rhoncus id
						suscipit id, ornare et sem. Duis aliquet posuere arcu a ornare.
						Pellentesque consequat libero id massa accumsan volutpat. Fusce a
						hendrerit lacus. Nam elementum ac eros eu porttitor. Phasellus
						enim mi, auctor sit amet luctus a, commodo fermentum arcu. In
						volutpat scelerisque quam, nec lacinia libero.</p>

					<p>Aliquam a lacinia orci, iaculis porttitor neque. Nullam
						cursus dolor tempus mauris posuere, eu scelerisque sem tincidunt.
						Praesent blandit sapien at sem pulvinar, vel egestas orci varius.
						Praesent vitae purus at ante aliquet luctus vel quis nibh. Mauris
						id nulla vitae est lacinia rhoncus a vel justo. Donec iaculis quis
						sapien vel molestie. Aliquam sed elementum orci. Vestibulum
						tristique tempor risus et malesuada. Sed eget ligula sed quam
						placerat dapibus. Integer accumsan ac massa at tempus.</p>

				</div>
				<!-- /.col-xs-12 main -->
			</div>
			<!--/.row-->
		</div>
		<!--/.container-->

		<!-- Anzeige der servereitigen Fehler -->
		<div th:fragment="validationerror" class="alert alert-danger"
			th:if="${#fields.hasAnyErrors()}">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Error:</span> Oops, something went wrong:
			<ul>
				<li th:each="e : ${#fields.detailedErrors()}"
					th:class="${e.global}? globalerr : fielderr"><strong><span
						th:text="${e.global}? '' : ${e.fieldName}">The field name</span><span
						th:text="!${e.global}? ' '">blank</span></strong><span
					th:text="${e.message}">The error message</span></li>
			</ul>
		</div>
	</div>
	<!--/.page-container-->
	<!-- script references -->
	<script
		src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
	<script th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/scripts.js}"></script>
	<script th:src="@{Validation/dist/js/bootstrapValidator.js}"></script>
	<script th:src="@{select2-3.5.2/select2.js}"></script>
</body>
</html>