<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='Hello'"></head>
<body>
	<div class="page-container">

		<!-- top navbar -->
		<div class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/" th:text="#{app.name}">brand</a>
				</div>
			</div>
		</div>

		<div class="container" style="margin-top:50px;">
		
		
		
				<h1 class="text-center-responsive"><span th:text="#{maintenance.headline}">headline</span></h1>
				<p class="text-center-responsive" th:text="#{maintenance.description}">description</p>
					
					
		</div>

		<!--/.container-->
	</div>
	<!--/.page-container-->
	<!-- script references -->
	<script
		src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
	<script th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/scripts.js}"></script>
</body>
</html>