<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='Hello'"></head>
<body>
	<div th:replace="layout :: navbar">(navbar)</div>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h2>User settings</h2>
			</div>

		</div>
		<div class="row">
			<div class="col-md-3">
				<ul class="nav nav-pills nav-stacked admin-menu">
					<li class="active"><a href="#" data-target-id="profile"><i
							class="fa fa-user fa-fw"></i>Profile</a></li>
					<li><a href="http://www.jquery2dotnet.com"
						data-target-id="channels"><i class="fa fa-share fa-fw"></i>Channels</a></li>
					<li><a href="http://www.jquery2dotnet.com"
						data-target-id="groups"><i class="fa fa-group fa-fw"></i>Groups</a></li>
					<li><a href="http://www.jquery2dotnet.com"
						data-target-id="settings"><i class="fa fa-cogs fa-fw"></i>Settings</a></li>
				</ul>
			</div>
			<div class="col-md-9 well admin-content" id="profile">
				<h3>Profile</h3>
				<p>Hello! This is a forked snippet.</p>
				<p>
					Here's the original one from BhaumikPatel: <a
						href="http://bootsnipp.com/snippets/featured/vertical-admin-menu"
						target="_BLANK">Vertical Admin Menu</a> <strong>Thank you
						Bhaumik!</strong>
				</p>
			</div>
			<div class="col-md-9 well admin-content" id="channels">Channels</div>
			<div class="col-md-9 well admin-content" id="groups">Groups</div>
			<div class="col-md-9 well admin-content" id="settings">
				Settings</div>
		</div>
	</div>

	<div th:include="layout :: footer" id="footer">(footer)</div>
	<script th:src="@{/js/settings.js}"></script>
</body>
</html>